.about__text {
  font-size: $m-size;
  font-weight: bold;
  max-width: 95vw;
  padding: 0 $xs-size;
  text-align: left;
  p {
    margin: $m-size 0;
  }
  .buttons {
    text-align: center;
    button {
      font-size: $m-size;
      font-weight: bold;
      padding: $s-size;
      margin-top: 0;
    }
  }
}

.is_colored {
  color: var(--secondaryTextColor);
}

@media (min-width: $mobile-breakpoint) {
  .about__text {
    font-size: $xl-size;
    max-width: 70vw;
    padding: 0 $s-size;
    margin: 0 auto;
    text-align: left;
    p {
      margin: $l-size 0;
    }
    .buttons {
      button {
        font-size: $xl-size;
        margin-top: $l-size;
      }
    }
  }
}
@media (min-width: $desktop-breakpoint) {
}
