.about__text {
  font-size: $l-size;
  font-weight: bold;
  margin: 0 auto;
  max-width: 75vw;
  padding: 0 $s-size;
  text-align: left;
}

.about__text__navlink {
  color: var(--primaryTextColor);
  text-decoration: underline;
  &:hover {
    color: var(--secondaryTextColor);
  }
}

.is_red {
  color: var(--secondaryTextColor);
}
