.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content_wrapper {
  color: var(--primaryTextColor);
  flex-grow: 1;
  margin: 0 $s-size;
  overflow: auto;
}

@media (min-width: $tablet-breakpoint) {
}

@media (min-width: $desktop-breakpoint) {
}
