.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: $l-size;
}

.title {
  display: block;
  font-size: $xl-size;
  font-weight: bold;
  text-align: center;
}

.card {
  border: 0.4rem solid $tower-blue;
  border-radius: 1rem;
  min-height: 17rem;
  min-width: 28rem;
  max-height: 17rem;
  max-width: 28rem;
  margin: $s-size;
  padding: $s-size;
}

.card__title {
  display: block;
  font-size: $l-size;
  font-weight: bold;
  margin-bottom: $xs-size;
}

.card__date {
  font-style: italic;
}

.skills-wrapper {
  margin: $m-size $l-size;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 $m-size;
}

.skills__logo {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: $s-size;
  #logo {
    font-size: $xxxl-size;
  }
}
