.footer_wrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: $xs-size 0;
  justify-content: center;
}

@media (min-width: $mobile-breakpoint) {
  .footer_wrapper {
    margin: $s-size 0;
  }
}

@media (min-width: $desktop-breakpoint) {
}
