.footer_wrapper {
  // align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: $m-size;
  position: relative;
  justify-content: center;
}

.footer__text {
  color: $tower-blue;
  font-size: $m-size;
  margin: $m-size;
  text-align: center;
}
