.footer_wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-breakpoint) {
  .footer_wrapper {
    margin: $s-size 0;
  }
}

@media (min-width: $desktop-breakpoint) {
}
