/* Mobile header */
.header__link {
  color: var(--primaryTextColor);
  text-decoration: none;
  .is_colored {
    cursor: pointer;
  }
}

a {
  color: var(--primaryTextColor);
  text-decoration: none;
}

.header_wrapper {
  padding: 0 $xs-size;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: $s-size;
  margin: $xs-size $xs-size $m-size $xs-size;
}

.header__home {
  font-size: $s-size;
  padding: $xs-size $s-size $xs-size 0;
  h1 {
    margin: 0;
  }
}

.header li .navlink a {
  display: block;
  padding: $m-size $xs-size;
}

.header__icon {
  color: var(--primaryTextColor);
  order: 1;
  font-size: $l-size;
}

.header__routes__element {
  padding: $xs-size;
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  .header__link {
    &:hover {
      color: var(--secondaryTextColor);
    }
  }
}

.active .header__routes__element {
  display: block;
}

/* Tablet header */
@media (min-width: $tablet-breakpoint) {
  .header {
    justify-content: center;
    font-size: $m-size;
  }

  .header__home {
    flex: 1;
    font-size: $m-size;
    padding: $s-size 0 $s-size $s-size;
  }

  .header__icon {
    flex: 1;
    text-align: right;
    order: 2;
    font-size: $xl-size;
    padding: $s-size $s-size $s-size 0;
  }
}

/* Desktop header */
@media (min-width: $desktop-breakpoint) {
  .header {
    align-items: flex-start;
    flex-wrap: nowrap;
    font-weight: bold;
  }

  .header__home {
    order: 0;
    padding: $m-size 0 0 $l-size;
    font-size: $l-size;
  }

  .header__routes__element {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding: $m-size $xl-size 0 0;
    font-size: $xl-size;
  }

  .header__icon {
    display: none;
  }
}

//////////////////////////////////////////////////////////////////////////////

// .header_wrapper {
//   // flex-shrink: 0;
//   // margin: $m-size;
//   color: var(--primaryTextColor);
//   padding: 0 $m-size;
// }

// .header {
//   align-header__routes__elements: center; //
//   display: flex; //
//   flex-wrap: wrap; //
//   justify-content: space-between; //
//   * {
//     display: block;
//     padding: $s-size $xs-size;
//   }
// }

// .header__home {
//   margin: 0;
//   padding: $xs-size $s-size $xs-size 0;
//   text-decoration: none; //
// }

// .header__routes__element {
//   display: none;
//   padding: $xs-size; //
//   order: 2;
//   text-decoration: none; //
// }

// .header__icon {
//   // color: var(--primaryTextColor);
//   font-size: $l-size;
//   // margin: $xs-size;
//   // padding: 0 $xs-size;
//   order: 1;
// }

// // .header__routes__desktop {
// //   margin: 0;
// //   position: absolute;
// //   visibility: hidden;
// // }

// // .header__routes__mobile {
// //   align-header__routes__elements: center;
// //   display: flex;
// //   flex-direction: column;
// //   justify-content: space-evenly;
// //   position: absolute;
// //   visibility: hidden; // need to work here to make it show
// // }

// @media (min-width: $mobile-breakpoint) {
//   .header__home {
//     font-size: $l-size;
//   }

//   .header__icon {
//     font-size: $xxxl-size;
//     margin: $m-size auto;
//   }
// }

// @media (min-width: $desktop-breakpoint) {
//   .header_wrapper {
//     margin: $l-size;
//   }

//   .header__home {
//     font-size: $l-size;
//   }

//   .header__routes__desktop {
//     align-header__routes__elements: center;
//     display: flex;
//     justify-content: space-evenly;
//     margin-left: auto;
//     position: relative;
//     visibility: visible;
//   }

//   .header__routes__element {
//     background-color: transparent;
//     color: var(--primaryTextColor);
//     font-size: $xl-size;
//     font-weight: bold;
//     margin: $xs-size $l-size;
//     text-decoration: none;
// &:hover {
//   color: var(--secondaryTextColor);
// }
//   }

//   .header__icon {
//     position: absolute;
//     visibility: hidden;
//   }
// }
