.header__link {
  color: var(--primaryTextColor);
  font-size: $l-size;
  font-weight: bold;
  text-decoration: none;
  .is_colored {
    cursor: pointer;
  }
}

a {
  color: var(--primaryTextColor);
  text-decoration: none;
}

.header_wrapper {
  padding: 0 $xs-size;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: $s-size;
  margin: $m-size $xs-size;
  padding: 0;
}

.header__home {
  font-size: $s-size;
  padding: $xs-size 0 0 $xs-size;
}

.header li .navlink a {
  display: block;
  padding: $m-size $xs-size;
}

.header__icon {
  color: var(--primaryTextColor);
  order: 1;
  font-size: $l-size;
  padding: $s-size $s-size 0 0;
}

.header__routes__element {
  padding: $s-size 0;
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .header__routes__element {
  display: block;
}

@media (min-width: $tablet-breakpoint) {
  .header {
    justify-content: center;
  }

  .header__link {
    font-size: $xl-size;
  }

  .header__home {
    flex: 1;
  }

  .header__icon {
    flex: 1;
    text-align: right;
    order: 2;
    font-size: $xl-size;
    padding: 0 $s-size;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    align-items: flex-start;
    flex-wrap: nowrap;
    font-weight: bold;
  }

  .header__home {
    order: 0;
    padding: $m-size 0 0 $l-size;
    font-size: $l-size;
  }

  .header__routes__element {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    padding: $m-size $xl-size 0 0;
    font-size: $xl-size;
    .header__link {
      &:hover {
        color: var(--secondaryTextColor);
      }
    }
  }

  .header__icon {
    display: none;
  }
}
