.header_wrapper {
  flex-shrink: 0;
  margin: $m-size;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__home {
  display: flex;
  font-size: $s-size;
  text-decoration: none;
}

.name {
  color: var(--primaryTextColor);
  padding: 0 $xs-size;
  margin: 0;
}

.surname {
  color: var(--secondaryTextColor);
  margin: 0;
}

.header__routes__desktop {
  margin: 0;
  position: absolute;
  visibility: hidden;
}

.header__routes__mobile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  visibility: hidden; // need to work here to make it show
}

.header__icon {
  color: var(--primaryTextColor);
  font-size: $xl-size;
  margin: $xs-size;
  padding: 0 $xs-size;
}

@media (min-width: $mobile-breakpoint) {
  .header__home {
    font-size: $l-size;
  }

  .header__icon {
    font-size: $xxxl-size;
    margin: $m-size auto;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header_wrapper {
    margin: $l-size;
  }

  .header__home {
    font-size: $l-size;
  }

  .header__routes__desktop {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    position: relative;
    visibility: visible;
  }

  .header__routes__element {
    background-color: transparent;
    color: var(--primaryTextColor);
    font-size: $xl-size;
    font-weight: bold;
    margin: $xs-size $l-size;
    text-decoration: none;
    &:hover {
      color: var(--secondaryTextColor);
    }
  }

  .header__icon {
    position: absolute;
    visibility: hidden;
  }
}
