.home {
  font-size: $l-size;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 $s-size;
  text-align: left;
}

.home__greetings {
  font-size: $xxxl-size;
}

.home__statement {
  margin-bottom: 0;
  .home__statement__navlink {
    color: var(--primaryTextColor);
    text-decoration: underline;
    &:hover {
      color: var(--secondaryTextColor);
    }
  }
}

.home__description {
  margin-top: $s-size;
}

.home__buttons {
  button {
    background-color: var(--primaryBackgroundColor);
    border-radius: $s-size;
    border: 0.4rem solid var(--primaryTextColor);
    color: var(--primaryTextColor);
    margin: $l-size $xl-size $l-size 0;
    padding: $m-size;
    .home__buttons__link {
      color: var(--primaryTextColor);
      text-decoration: none;
    }
    &:hover {
      background-color: var(--primaryTextColor);
      color: var(--primaryBackgroundColor);
      .home__buttons__link {
        color: var(--primaryBackgroundColor);
      }
    }
  }
}
