.home {
  font-size: $l-size;
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 $s-size;
  text-align: center;
}

.home__greetings {
  font-size: $xxxl-size;
  margin: $m-size;
}

.home__greetings__name {
  position: absolute;
  visibility: hidden;
}

.home__statement {
  margin: $l-size 0;
  .home__statement__navlink {
    color: var(--primaryTextColor);
    text-decoration: underline;
    &:hover {
      color: var(--secondaryTextColor);
    }
  }
}

.home__description {
  position: absolute;
  visibility: hidden;
}

@media (min-width: $mobile-breakpoint) {
  .home {
    margin-top: $xxxl-size;
  }

  .home__description {
    position: relative;
    visibility: visible;
    margin-top: $s-size;
  }
}

@media (min-width: $desktop-breakpoint) {
  .home {
    text-align: left;
  }

  .home__greetings {
    margin: $xl-size 0;
  }

  .home__greetings__name {
    position: relative;
    visibility: visible;
  }
}
