.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// https://www.w3schools.com/howto/howto_css_image_overlay.asp

.project_card {
  border-radius: $l-size;
  margin: $s-size 0;
  max-height: auto;
  max-width: 90vw;
  position: relative;
  overflow: hidden;
}

.project_card__image {
  opacity: 1;
  display: block;
  height: auto;
  max-width: 90vw;
}

.project_card__overlay {
  position: absolute;
  visibility: hidden;
}

@media (min-width: $mobile-breakpoint) {
  .project_card {
    margin: $m-size;
    max-height: $card-max-size;
    max-width: $image-max-size;
    position: relative;
    overflow: hidden;
  }

  .project_card__image {
    max-height: auto;
    max-width: $image-max-size;
    overflow: hidden;
  }
}

@media (min-width: $desktop-breakpoint) {
  .project_card__image {
    left: 50%;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .project_card__overlay {
    left: 50%;
    opacity: 0;
    padding: $s-size;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    visibility: visible;
    .buttons {
      button {
        font-size: $s-size;
        font-weight: bold;
        margin: $xs-size;
      }
    }
  }

  .project_card:hover .project_card__image {
    opacity: 0.1;
  }

  .project_card:hover .project_card__overlay {
    opacity: 1;
  }

  .project_card__overlay__info {
    font-size: $m-size;
    padding: $xs-size;
  }
}
