.title {
  display: block;
  font-size: $xxl-size;
  text-align: center;
}

.skills-wrapper {
  margin: $m-size 0 $xxxl-size 0;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 $m-size;
}

.skills__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #logo {
    font-size: $xxl-size;
    padding: $s-size;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 0.4rem solid var(--primaryTextColor);
  border-radius: $s-size;
  max-width: 90vw;
  margin: $s-size;
  padding: $s-size;
}

.card__title {
  display: block;
  font-size: $l-size;
  font-weight: bold;
  margin-bottom: $xs-size;
}

.card__subtitle {
  font-size: $m-size;
  font-style: italic;
}

.card__description {
  font-size: $m-size;
}

@media (min-width: $mobile-breakpoint) {
  .title {
    font-size: $xxxl-size;
  }

  .skills-wrapper {
    margin: $l-size 0 $xxxl-size 0;
  }

  .skills__logo {
    #logo {
      font-size: $xxxl-size;
      padding: $l-size;
    }
  }

  .card {
    min-height: 17rem;
    min-width: 28rem;
    max-height: 17rem;
    max-width: 28rem;
  }
}

@media (min-width: $desktop-breakpoint) {
}
