.buttons {
  button {
    background-color: var(--primaryBackgroundColor);
    border-radius: $s-size;
    border: 0.4rem solid var(--primaryTextColor);
    color: var(--primaryTextColor);
    font-size: $l-size;
    font-weight: bold;
    margin: $s-size;
    padding: $m-size;

    .button__link {
      color: var(--primaryTextColor);
      text-decoration: none;
    }
  }

  .button_alt {
    border: 0.4rem solid var(--secondaryTextColor);

    .button_alt__link {
      color: var(--secondaryTextColor);
      border-color: var(--secondaryTextColor);
      text-decoration: none;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
}

@media (min-width: $desktop-breakpoint) {
  .buttons {
    button {
      margin: $m-size $m-size $m-size 0;

      &:hover {
        background-color: var(--primaryTextColor);
        color: var(--primaryBackgroundColor);

        .button__link {
          color: var(--primaryBackgroundColor);
        }
      }
    }

    .button_alt {
      &:hover {
        background-color: var(--secondaryTextColor);
        color: var(--primaryBackgroundColor);

        .button_alt__link {
          color: var(--primaryBackgroundColor);
        }
      }
    }
  }
}
