html {
  font-size: 62.5%;
  --primaryBackgroundColor: #{$off-white};
  --secondaryBackgroundColor: #{darken($off-white, 10%)};
  --primaryTextColor: #{$tower-dark-blue};
  --secondaryTextColor: #{$tower-orange};
}

html.dark {
  --primaryBackgroundColor: #{$tower-dark-blue};
  --secondaryBackgroundColor: #{darken($tower-dark-blue, 10%)};
  --primaryTextColor: #{$tower-light-blue};
  --secondaryTextColor: #{$tower-orange};
}

body {
  background: var(--primaryBackgroundColor);
  font-family: Verdana, Arial, sans-serif;
}

button {
  cursor: pointer;
}

.is_colored {
  color: var(--secondaryTextColor);
}
