// Colors
$off-black: #2f2f2f;
$tower-blue: #00c2cb;
$tower-red: #ff1616;

// Size
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$desktop-breakpoint: 45rem;
