// Colors
$off-black: #2f2f2f;
// $off-white: #f7f3f2;
$off-white: #e6dfcf;
$tower-blue: #00c2cb;
$tower-red: #ff1616;

// Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
