// Colors
$off-black: #2f2f2f;
$off-white: #d6d6d6;
$tower-light-blue: #00c2cb;
$tower-dark-blue: #005278;
$tower-orange: #c98924;
// $tower-red: #ff1616;
$tower-red: #d91414;

// Size
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem; // 16px
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4rem;
$xxxl-size: 7rem;

$card-max-size: 38rem;
$image-max-size: 50rem;

// Breakpoints
$tablet-breakpoint: 40rem; // 40rem=640px
$desktop-breakpoint: 70rem; // 70rem=1120px
